.header {
  width: 100%;
  .logo-image {
    display: block;
    margin: 0 auto;
  }
}

.project {
  width: 340px;
  height: 340px;
  margin: 1em;
  border-style: solid;
  border-width: 1px;
  border-color: black;
}

